
body{
  background-color: azure;
}
.container{
  margin:auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top:30px;
}
h1{
  text-align: center;
}

.container img{
  width:50px;
}
.form-container{
  width:400px;
  margin: auto;
  margin-top: 50px;
}